html {
  scroll-behavior: smooth;
}
body,
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

p {
  font-size: 1em;
  line-height: 1.2em;
}

/* Flexbox columns, rows & content alignment */
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
}

.flex-reverse-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.flex-center-content {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Header/Hero */
.hero-image {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(hsla(0, 0%, 0%, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url("../img/bg/hero.png");
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/bg/hero.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-information-container {
  padding: 1em;
  -webkit-animation-name: fadeInOut;
  animation-name: fadeInOut;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
}
/* Header logo */
.hero-logo-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.hero-logo {
  width: 10em;
  height: auto;
  padding: 5px;
  background-color: #fff;
}

#top-button {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 50px;
  z-index: 99;
  font-size: 1em;
  border: none;
  outline: none;
  cursor: pointer;
}

.to-top-button-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  position: relative;
}

.to-top-button-container img {
  position: absolute;
  overflow: hidden;
  top: -10px;
  left: -10px;
}

.reMRKableDev-logo {
  width: 40px;
  height: 50px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.to-top-button-container .reMRKableDev-logo {
  z-index: 9999;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

.to-top-button-container:hover > .reMRKableDev-logo {
  opacity: 0;
}

.to-top-button-logo {
  width: 40px;
  height: 50px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}
/* Header introduction */
.above-fold-heading {
  text-align: center;
}

.above-fold-heading h1 {
  font-size: 3em;
  color: #fffff0;
  margin: 0.5em 0;
}

.above-fold-heading p {
  color: #ffffff;
  line-height: 2.5em;
  font-size: 1em;
}

.above-fold-heading p > span {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #fffff0;
}

.above-fold-heading p > span > a {
  text-decoration: none;
  color: #6dd6d6;
}

.above-fold-heading p > span > a:hover {
  color: #fffff0;
  text-decoration: underline;
}

.above-fold-heading button {
  font-family: "Ubuntu", sans-serif;
  width: 80%;
  font-size: 1.5em;
  font-weight: 700;
  padding: 0.5em;
  margin: 1em 0;
  text-transform: uppercase;
  background-color: #6dd6d6;
  color: #fffff0;
  outline: none;
  border: 1px solid #6dd6d6;
  opacity: 0.9;
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-animation: bounce 2.5s infinite alternate;
  animation: bounce 2.5s infinite alternate;
  -webkit-box-shadow: 0 8px rgba(0, 0, 0, 0.8);
  box-shadow: 0 8px rgba(0, 0, 0, 0.8);
}

.above-fold-heading button a {
  text-decoration: none;
  color: inherit;
}
/* Bounce animation */
@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
/* Call-to-action button */
.above-fold-heading button:hover {
  opacity: 1;
}

.above-fold-heading button:active {
  -webkit-box-shadow: 0 4px rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px rgba(0, 0, 0, 0.8);
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}
/* About Me & Skills */
.skillset,
.portfolio {
  margin: 1em 0;
}

.skillset header,
.portfolio header {
  font-size: 2em;
  margin: 1em 0;
}

.skillset header,
.skillset p,
.portfolio header,
.portfolio p {
  text-align: center;
  padding: 0.2em;
}

.mrk-avatar-container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.mrk-avatar {
  width: 25vh;
  height: auto;
}

.skillset-container {
  width: 100%;
  height: 50vh;
  margin: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 0.5em;
}

.skillset-container header {
  font-size: 1em;
  color: #6dd6d6;
}

.skillset-container p {
  font-size: 0.9em;
  color: #222;
  margin-bottom: 1.5em;
}

.modal-skillset ul {
  text-align: center;
  line-height: 2em;
  color: #6dd6d6;
}

.skillset-container header,
.modal-skillset ul li {
  text-transform: uppercase;
}

.skill-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-flow: column-reverse wrap;
  flex-flow: column-reverse wrap;
}

.skill-icon-container {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  border: 2px solid #6dd6d6;
  -webkit-box-shadow: 1px 1px 5px 0px #6dd6d6;
  box-shadow: 1px 1px 5px 0px #6dd6d6;
  border-radius: 50%;
  padding: 15px;
  text-align: center;
}

.skill-icon {
  width: 100%;
  height: auto;
  margin: 0;
  fill: #6dd6d6;
}
/* Slide up effect  */
.already-visible {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: none;
  animation: none;
}

.come-in {
  -webkit-transform: translateY(150px);
  transform: translateY(150px);
  -webkit-animation: come-in 1s ease forwards;
  animation: come-in 1s ease forwards;
}

.come-in:nth-child(odd) {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

.already-visible {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: none;
  animation: none;
}
/* Slide up animation */
@-webkit-keyframes come-in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes come-in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* Portfolio horizontal scroll */
.portfolio-scrolling-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-box-shadow: inset 0 0 10px #222;
  box-shadow: inset 0 0 10px #222;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(hsla(0, 0%, 0%, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url("../img/bg/working.png");
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/bg/working.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.portfolio-scrolling-wrapper {
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.portfolio-scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.portfolio-scrolling-wrapper .card {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  margin: 25px;
}

.portfolio ul {
  text-align: center;
  line-height: 2em;
  color: #555;
}

.card {
  border: 2px solid #fff;
  width: 70vw;
  height: auto;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.card header {
  margin-bottom: 5px;
  color: #222;
  width: 100%;
  margin: 0;
}

.card header figure {
  width: 100%;
  height: 100%;
  margin: 0;
}

.card header figure img {
  width: 100%;
  height: auto;
  border: 5px solid #222;
  outline: 2px solid #fffff0;
  -webkit-box-shadow: 1px 2px 1px 0px #101111;
  box-shadow: 1px 2px 1px 0px #101111;
  border-radius: 2px;
}

.card header figure figcaption {
  font-size: 0.8em;
}

.card header figure figcaption h2 {
  font-size: 0.7em;
  color: #222;
  text-transform: uppercase;
  padding: 5px;
}

.card p {
  margin-bottom: 5px;
}

.card a {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card button,
.modal-trigger {
  font-family: "Ubuntu", sans-serif;
  width: 50%;
  font-weight: 700;
  font-size: 1em;
  padding: 0.5em;
  margin: 0 0 1em 0;
  text-transform: uppercase;
  background-color: #6dd6d6;
  color: #fffff0;
  outline: none;
  border: 1px solid #6dd6d6;
  opacity: 0.9;
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  /*   box-shadow: 0 4px #333;
 */
  /*   box-shadow: 0 10px 6px -6px #333;
 */
}

.card button:hover,
.modal-trigger:hover {
  opacity: 1;
}

.card button:active,
.modal-trigger:active {
  -webkit-box-shadow: inset 0 0 10px #222;
  box-shadow: inset 0 0 10px #222;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

.site-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.site-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.more-projects-container {
  width: 100%;
  background-color: #6dd6d6;
  padding: 1em;
}

.more-projects-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fffff0;
}

.more-projects-container a p {
  text-transform: uppercase;
  font-size: 1.3em;
}

.more-projects-container a:hover {
  text-decoration: underline;
}

.projects-icon-container,
.github-icon-container {
  width: 50px;
  height: 50px;
}

.projects-horizontal-scroll-icon {
  width: 100%;
  height: auto;
  margin: 0;
  fill: #222;
}

.github-icon {
  width: 100%;
  height: auto;
  margin: 0;
  fill: #fffff0;
  -webkit-box-shadow: 1px 1px 5px 0px #6dd6d6;
  box-shadow: 1px 1px 5px 0px #6dd6d6;
  border-radius: 50%;
}

.testimonial-heading {
  font-size: 2em;
  text-align: center;
  margin: 1em 0;
}

.testimonial-card {
  margin: 15px 10px;
  padding: 10px;
  border: 2px solid #fff;
  width: 50vw;
  height: 50vh;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.testimonial-card p {
  margin-bottom: 10px;
  line-height: 1.5em;
  color: #555;
  text-align: center;
  font-size: 0.9em;
  font-weight: 100;
}

.testimonial-card p em {
  color: #222;
}

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.quote span {
  color: #6dd6d6;
  text-align: right;
  width: 70%;
}

.quote span strong {
  color: #222;
}

.quote figure {
  width: 30%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.quote figure img {
  width: 70px;
  height: auto;
  border: 2px solid #222;
  border-radius: 50%;
}

.contact-form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #222;
  padding: 1em 0;
}

.contact-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 96.5vw;
  border: 2px solid #fff;
  background-color: #6dd6d6;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contact-form {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 50px;
}

.contact-form.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1.875em;
}

.contact-form.left header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  color: #fffff0;
  font-size: 1.625em;
}

.contact-form.left header:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
}

.contact-form.left p {
  font-size: 0.8em;
  color: #222;
}

.contact-form-group {
  margin-bottom: 1em;
}

.contact-form-group input,
.contact-form-group textarea {
  width: 100%;
  padding: 0.625em 0;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #222;
  font-size: 0.875em;
  outline: none;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.contact-form-group textarea {
  outline: none;
  resize: none;
  margin-top: 2.5em;
}

.contact-form-group input::-webkit-input-placeholder,
.contact-form-group textarea::-webkit-input-placeholder {
  color: #fff;
  text-transform: uppercase;
}

.contact-form-group input:-ms-input-placeholder,
.contact-form-group textarea:-ms-input-placeholder {
  color: #fff;
  text-transform: uppercase;
}

.contact-form-group input::-ms-input-placeholder,
.contact-form-group textarea::-ms-input-placeholder {
  color: #fff;
  text-transform: uppercase;
}

.contact-form-group input::placeholder,
.contact-form-group textarea::placeholder {
  color: #fff;
  text-transform: uppercase;
}

.contact-form-group input:focus {
  border-bottom-color: #fffff0;
}

.submit-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact-form-group input[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  width: 80%;
  padding: 0.5em;
  margin: 0 0 1em 0;
  background-color: #fffff0;
  color: #6dd6d6;
  border: 1px solid #fffff0;
  opacity: 0.98;
  border-radius: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-box-shadow: 0 10px 6px -6px #208a8a;
  box-shadow: 0 10px 6px -6px #208a8a;
  margin-top: 1em;
}

.contact-form-group input[type="submit"]:hover {
  color: #39a3a3;
  opacity: 1;
}

.contact-form-group input[type="submit"]:active {
  -webkit-box-shadow: 0 2px #067070;
  box-shadow: 0 2px #067070;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #222;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.social-header {
  font-size: 1.2em;
  text-decoration: underline;
  -webkit-text-decoration-color: #6dd6d6;
  text-decoration-color: #6dd6d6;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin: 1em 0;
}

.social-icon-container {
  width: 50px;
  height: 50px;
  border: 2px solid #6dd6d6;
  -webkit-box-shadow: 1px 1px 5px 0px #6dd6d6;
  box-shadow: 1px 1px 5px 0px #6dd6d6;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 5px;
}

.social-icon {
  width: 100%;
  height: auto;
  margin: 0;
  fill: #6dd6d6;
  text-align: center;
}

.footer-mrk-tag {
  font-size: 1em;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding: 0.5em;
}

@media only screen and (min-width: 908px) {
  .flex-column {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .header-information-container {
    margin-top: 30px;
  }
  .scroll-icon,
  .scroll-icon:before {
    position: absolute;
    left: 50%;
  }
  .scroll-icon {
    width: 50px;
    height: 11.11vh;
    margin-left: -20px;
    top: 90%;
    margin-top: -35px;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
  }
  .scroll-icon:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #6dd6d6;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  }
  @-webkit-keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(46px);
      transform: translateY(46px);
    }
  }
  @keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(46px);
      transform: translateY(46px);
    }
  }
  .card {
    width: 28vw;
  }
  .contact-form-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .contact-form.left {
    margin-bottom: 0;
  }
  .contact-form.left header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .social-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    width: 30%;
  }

  .testimonial-card blockquote p {
    padding: 10px;
  }
  .quote span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
