html {
  scroll-behavior: smooth;
}

body,
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

/* SITE LAYOUT */
.site_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.site_content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* FLEXBOX COLUMNS, ROWS & CONTENT ALIGNMENT */
.flex_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  width: 100%;
}

.flex_reverse_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.flex_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.flex_center_content {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.privacy_policy,
.cookies_policy,
.terms_service {
  margin: 1em;
  line-height: 1.5em;
  color: #555;
}

.privacy_policy a,
.cookies_policy a,
.terms_service a {
  text-decoration: none;
  color: #6dd6d6;
}

.privacy_policy a:hover,
.cookies_policy a:hover,
.terms_service a:hover {
  text-decoration: underline;
}

.privacy_policy a:visited,
.cookies_policy a:visited,
.terms_service a:visited {
  text-decoration: none;
}

.privacy_policy strong,
.cookies_policy strong,
.terms_service strong {
  color: #333;
}

.privacy_policy h3,
.cookies_policy h3,
.terms_service h3 {
  color: #222;
}

.privacy_policy h4,
.cookies_policy h4 {
  color: #333;
}

.privacy_policy h3,
.privacy_policy h4,
.cookies_policy h3,
.cookies_policy h4,
.terms_service h3 {
  margin: 1em 0;
}

/* HEADER / HERO SECTION */
.hero_image {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(hsla(0, 0%, 0%, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url("../img/bg/hero.png");
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/bg/hero.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0.6em;
}

.header_information_container {
  -webkit-animation-name: fadeInOut;
  animation-name: fadeInOut;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
}

/* HEADER LOGO */
.header_information_container figure {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0.3em 0 0.6em;
  text-align: center;
}

.header_information_container figure img {
  width: 6.25em;
  height: auto;
  padding: 0.313em;
  background-color: #fff;
}

/* HEADER INFO TEXT */
.header_information_container header {
  text-align: center;
}

.header_information_container header h1 {
  font-size: 2em;
  color: #fffff0;
  margin: 0.3em 0;
}

.header_information_container header p {
  color: #ffffff;
  line-height: 2.5em;
  margin: 0.6em 0;
}

.header_information_container header p span {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #fffff0;
}

.header_information_container header p span a {
  text-decoration: none;
  color: #6dd6d6;
}

.header_information_container header p span a:hover {
  color: #fffff0;
  text-decoration: underline;
}

.header_information_container header button {
  font-family: "Ubuntu", sans-serif;
  width: 80%;
  font-size: 1.5em;
  font-weight: 700;
  padding: 0.5em;
  text-transform: uppercase;
  background-color: #6dd6d6;
  color: #fffff0;
  outline: none;
  border: 0.063em solid #6dd6d6;
  border-radius: 1em;
  cursor: pointer;
  margin: 0.6em 0 0.3em;
}

.header_information_container header button a {
  text-decoration: none;
  color: inherit;
}

/* BOUNCE ANIMATION*/
@-webkit-keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}
@keyframes bounce {
  to {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

/* ABOUT ME & PORTFOLIO STRUCTURE */
.skillset,
.portfolio {
  margin: 1em 0;
}

.skillset header,
.portfolio header {
  font-size: 1.5em;
  margin: 1em 0;
}

.skillset header,
.skillset p,
.portfolio header,
.portfolio p {
  text-align: center;
}

/* ABOUT ME SKILLS SECTION */
.skillset article p,
.portfolio article p {
  color: #555;
  margin: 0.625em;
}

.skillset_container {
  width: 100%;
  margin: 0.625em;
  background-color: #fff;
  -webkit-box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 0.5em;
}

.skillset_container header {
  font-size: 1em;
  color: #6dd6d6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-flow: column-reverse wrap;
  flex-flow: column-reverse wrap;
}

.skillset_container header,
.modal_skillset ul li {
  text-transform: uppercase;
}

.skillset_container p {
  color: #222;
  margin-bottom: 1.5em;
}

.skillset_container header figure {
  width: 5em;
  height: 5em;
  margin-bottom: 1em;
  border: 0.125em solid #6dd6d6;
  -webkit-box-shadow: 0.063em 0.063em 0.313em 0 #6dd6d6;
  box-shadow: 0.063em 0.063em 0.313em 0 #6dd6d6;
  border-radius: 50%;
  padding: 0.938em;
  text-align: center;
}

.skillset_container header figure svg {
  width: 100%;
  height: auto;
  margin: 0;
  fill: #6dd6d6;
}

/* SKILLS POP OUT MODAL */

.modal_skillset ul {
  text-align: center;
  line-height: 2em;
  color: #6dd6d6;
}

.modal_trigger {
  width: 50%;
}

.portfolio_scrolling_wrapper article a button,
.modal_trigger {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1em;
  padding: 0.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
  background-color: #6dd6d6;
  color: #fffff0;
  outline: none;
  border: 1px solid #6dd6d6;
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.portfolio_scrolling_wrapper article a button:active,
.modal_trigger:active {
  -webkit-box-shadow: inset 0 0 10px #222;
  box-shadow: inset 0 0 10px #222;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

/* SLIDE-UP EFFECT */
.already_visible {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: none;
  animation: none;
}

.come_in {
  -webkit-transform: translateY(150px);
  transform: translateY(150px);
  -webkit-animation: come_in 1s ease forwards;
  animation: come_in 1s ease forwards;
}

.come_in:nth-child(odd) {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

@-webkit-keyframes come_in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes come_in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* PORTFOLIO SECTION */
.portfolio_scrolling_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-box-shadow: inset 0 0 0.625em #222;
  box-shadow: inset 0 0 0.625em #222;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(hsla(0, 0%, 0%, 0.8)),
      to(rgba(0, 0, 0, 0.8))
    ),
    url("../img/bg/working.png");
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/bg/working.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.portfolio_scrolling_wrapper::-webkit-scrollbar {
  display: none;
}

.portfolio_scrolling_wrapper,
.portfolio_scrolling_wrapper article {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.portfolio_scrolling_wrapper article {
  border: 0.125em solid #fff;
  width: 70vw;
  height: auto;
  background: #fff;
  -webkit-box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.2);
  margin: 1em;
  padding: 0.313em;
}
.portfolio_scrolling_wrapper article header {
  margin-bottom: 0.313em;
  color: #222;
  width: 100%;
}

.portfolio_scrolling_wrapper article header figure {
  width: 100%;
  height: 100%;
  margin: 0;
}

.portfolio_scrolling_wrapper article header figure img {
  width: 100%;
  height: auto;
  border: 0.2em solid #222;
}

.portfolio_scrolling_wrapper article header figure figcaption {
  font-size: 0.8em;
}

.portfolio_scrolling_wrapper article header figure figcaption h2 {
  font-size: 1em;
  color: #222;
  text-transform: uppercase;
  padding: 0.313em;
  margin: 0.313em 0;
}

.portfolio_scrolling_wrapper article p {
  margin: 0.313em 0;
  padding: 0.313em;
}

.portfolio_scrolling_wrapper article a {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio_scrolling_wrapper article a button {
  width: 80%;
  margin: 0.313em 0;
}

.portfolio_scrolling_icon {
  margin-bottom: 1em;
}

.portfolio_scrolling_icon figure,
.portfolio_github_container a figure,
.skills_linkedin_container a figure {
  width: 3.125em;
  height: 3.125em;
}

.portfolio_scrolling_icon figure svg {
  width: 100%;
  height: auto;
  margin: 0;
  fill: #222;
}

.portfolio_github_container,
.skills_linkedin_container {
  width: 100%;
  background-color: #6dd6d6;
  padding: 1em;
}

.skills_linkedin_container {
  margin-top: 1.5em;
}

.portfolio_github_container a,
.skills_linkedin_container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fffff0;
}

.portfolio_github_container a:hover,
.skills_linkedin_container a:hover {
  text-decoration: underline;
}

.portfolio_github_container a p,
.skills_linkedin_container a p {
  text-transform: uppercase;
}

.portfolio_github_container a figure,
.skills_linkedin_container a figure {
  width: 3.125em;
  height: 3.125em;
}

.skills_linkedin_container a figure {
  width: 2.5em;
  height: 2.5em;
  margin-left: 0.313em;
  padding: 0.5em;
  border: 2px solid #fffff0;
  border-radius: 50%;
}
.portfolio_github_container a figure {
  padding: 0.313em;
}

.portfolio_github_container a figure svg,
.skills_linkedin_container a figure svg {
  width: 100%;
  height: auto;
  fill: #fffff0;
  -webkit-box-shadow: 1px 1px 5px 0 #6dd6d6;
  box-shadow: 1px 1px 5px 0 #6dd6d6;
}

.portfolio_github_container a figure svg {
  border-radius: 50%;
}

/* TESTIMONIAL SECTION STYLES */
.testimonials h1 {
  text-align: center;
  font-size: 2em;
  margin: 1em 0;
}

.testimonials article {
  margin: 0.625em;
  padding: 0.625em;
  border: 0.125em solid #fff;
  width: 50vw;
  height: auto;
  background: #fff;
  -webkit-box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.125em 0.25em 0 rgba(0, 0, 0, 0.2);
}

.testimonials p,
.testimonials article p {
  margin: 0.625em;
  color: #555;
  text-align: center;
  font-weight: 100;
}

.testimonials article p em {
  color: #222;
}

.testimonials_quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.testimonials_quote span {
  color: #6dd6d6;
  text-align: right;
  width: 70%;
}

.testimonials_quote span strong {
  color: #222;
}

.testimonials_quote figure {
  width: 30%;
  height: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
}

.testimonials_quote figure img {
  width: 70px;
  height: auto;
  border: 2px solid #222;
  border-radius: 50%;
}

/* FOOTER SECTION STYLES */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #222;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1.5em;
}

/* CONTACT SECTION STYLES */
.contact_form_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #222;
  padding: 1em 0;
}

.contact_form_section section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 96.5vw;
  border: 0.125em solid #fff;
  background-color: #6dd6d6;
  -webkit-box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2);
}

.contact_form {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 35px;
}

.contact_form.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 1.875em;
}

.contact_form.left header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  color: #fffff0;
  font-size: 1.3em;
}

.contact_form.left header:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
}

.contact_form.left p {
  font-size: 0.8em;
  color: #222;
}

.contact_form_group {
  margin-bottom: 1em;
}

.contact_form_group input,
.contact_form_group textarea {
  width: 100%;
  padding: 0.625em 0;
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  color: #222;
  font-size: 0.875em;
  outline: none;
  -webkit-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.contact_form_group textarea {
  outline: none;
  resize: none;
  margin-top: 2.5em;
}

.contact_form_group input::-webkit-input-placeholder,
.contact_form_group textarea::-webkit-input-placeholder {
  color: #fff;
  text-transform: uppercase;
}

.contact_form_group input:-ms-input-placeholder,
.contact_form_group textarea:-ms-input-placeholder {
  color: #fff;
  text-transform: uppercase;
}

.contact_form_group input::-ms-input-placeholder,
.contact_form_group textarea::-ms-input-placeholder {
  color: #fff;
  text-transform: uppercase;
}

.contact_form_group input::placeholder,
.contact_form_group textarea::placeholder {
  color: #fff;
  text-transform: uppercase;
}

.contact_form_group input:focus {
  border-bottom-color: #fffff0;
}

.contact_form_group span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact_form_group input[type="submit"] {
  background: none;
  cursor: pointer;
  outline: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  width: 80%;
  padding: 0.5em;
  margin: 1em 0 0;
  background-color: #fffff0;
  color: #6dd6d6;
  border: 1px solid #fffff0;
  opacity: 0.98;
  border-radius: 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-box-shadow: 0 10px 6px -6px #208a8a;
  box-shadow: 0 10px 6px -6px #208a8a;
}

.contact_form_group input[type="submit"]:hover {
  color: #39a3a3;
  opacity: 1;
}

.contact_form_group input[type="submit"]:active {
  -webkit-box-shadow: 0 2px #067070;
  box-shadow: 0 2px #067070;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}

/* SOCIAL MEDIA SECTION STYLES */
.social_media section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin: 1em 0;
}

.social_media section figure {
  width: 50px;
  height: 50px;
  border: 2px solid #6dd6d6;
  -webkit-box-shadow: 1px 1px 5px 0 #6dd6d6;
  box-shadow: 1px 1px 5px 0 #6dd6d6;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 5px;
}

.social_media section figure svg {
  width: 100%;
  height: auto;
  margin: 0;
  fill: #6dd6d6;
  text-align: center;
}

.legalities a {
  text-decoration: none;
  color: #fffff0;
  margin: 0.2em;
  font-size: 0.9em;
}

.legalities a:visited {
  text-decoration: none;
}

.legalities a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #6dd6d6;
  text-decoration-color: #6dd6d6;
}

.footer_tag {
  font-size: 1em;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding: 0.5em;
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {
  .header_information_container header button {
    width: 50%;
  }
  .portfolio_scrolling_wrapper article {
    width: 40vw;
  }
  .contact_form {
    padding: 25px;
  }
  .contact_form.left {
    margin: 0;
  }
  .contact_form_group input[type="submit"] {
    width: 59%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header_information_container figure img {
    width: 10em;
  }
  .header_information_container header h1 {
    font-size: 3em;
  }
  .header_information_container header button {
    width: 67%;
  }
  .skillset article header h1,
  .skillset_container header h2,
  .portfolio article header h1 {
    font-size: 1.5em;
  }
  .modal_trigger {
    font-size: 1.5em;
  }
  .portfolio_github_container a p,
  .portfolio_scrolling_wrapper article header figure figcaption h2,
  .skills_linkedin_container a p {
    font-size: 1.2em;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header_information_container header button {
    width: 50%;
  }
  .flex_column {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .modal_trigger {
    width: 80%;
  }

  .modal_trigger,
  .portfolio_scrolling_wrapper article a button,
  .portfolio_scrolling_wrapper article p {
    font-size: 1.2em;
  }

  .portfolio_scrolling_wrapper article header figure figcaption h2,
  .portfolio_github_container a p,
  .skills_linkedin_container a p {
    font-size: 1.5em;
  }

  .scroll-icon,
  .scroll-icon:before {
    position: absolute;
    left: 49%;
  }
  .scroll-icon {
    width: 50px;
    height: 70px;
    margin-left: -20px;
    top: 90%;
    margin-top: -35px;
    -webkit-box-shadow: inset 0 0 0 1px #fff;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px;
  }
  .scroll-icon:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #6dd6d6;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
  }
  @-webkit-keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(46px);
      transform: translateY(46px);
    }
  }
  @keyframes scroll {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(46px);
      transform: translateY(46px);
    }
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header_information_container header button {
    width: 37%;
  }

  .skillset_container p {
    font-size: 1.3em;
  }

  .modal_trigger,
  .portfolio_scrolling_wrapper article a button {
    font-size: 1.5em;
  }

  .portfolio_scrolling_wrapper article {
    width: 30vw;
  }
}
